[submodule "StormByte Base"]
	path = thirdparty/StormByte/base
	url = https://github.com/StormBytePP/StormByte.git
[submodule "StormByte BuildMaster"]
	path = thirdparty/buildmaster
	url = https://github.com/StormBytePP/StormByte-BuildMaster.git
